<%- include('./partials/header') %>
<br />
Xin chào <%= name %>, <br />
Chúng tôi nhận được yêu cầu thay đổi mật khẩu từ bạn! <br /><br />
Nếu bạn không thực hiện yêu cầu này thì vui lòng bỏ qua email này. <br /><br />
Nếu không, vui lòng nhấp vào liên kết này để thay đổi mật khẩu của bạn: <br />
<a href="<%= linkResetPassword %>"><%= linkResetPassword %></a>
<br /><br />
<%- include('./partials/footer') %>
